* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navigation bar */

nav {
    margin-top: 0;
    width: 100%;
}

#nav-bar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 3rem;
    background-color: rgb(3, 3, 3,0.7);
}

li{
    height: 100%;
    flex-grow: 1;
    align-content: center;
    text-align: center;
}
li a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

li:hover:not(:active)
{
    background-color: rgb(1, 1, 1,0.9);
    font-weight: bold;
}

/* General for all pages */
section{
    height: 100vh;
}

.page-content{
    margin: 5rem 80px 20px 80px;
}

/* Hero Page */
#hero-container{
    height: 60vh;
    background-image: url(Resources/HeroTravel.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

#hero-container h1
{
    color: white;
    font-size: 50px;
    margin: 20px;
}